body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
.color{
    color: orange;
}
section{
    display: flex;
    text-align: justify;
}
.half{
    width: 50%;
    padding: 3%;
}
.half-width img {
    width: 80%;
    padding: 5%;
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(orange, tomato);
    padding: 7px 20px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}
.banner{
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
}
.kudal{
    display: flex;
    background-image: url(dream-bg.png);
    background-repeat:no-repeat;
    background-position: right;
}
.become img{
    width: 500px;
    padding: 4%;
    margin: bottom 100px;;
}
.developer{
    width: 50%;
    padding: 10%;
}